@import '../../global.less';
@import '../../base.less';

.root {
    section{
        overflow: hidden;
        background-color: #fff;
        padding-top: 10px;
        // header{
        //     font-size: 17px;
        //     font-weight: normal;
        //     color: #111;
        //     margin: 0;
        //     text-align: left;
        // }
    }
}

